#art-details {
    position: relative;
    display: block;
    width: 980px;
    margin: 90px auto;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
}

#art-details>h1 {
    color: #fff;
    font-family: Copperplate, Copperplate Gothic Light, fantasy;

    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}

.info-section {
    position: relative;
    width: auto;
    height: auto;
    z-index: 1;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.art-header {
    display: flex;
    justify-content: space-between;
    height: 40%;
}

.details {
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.art>h1 {
    color: black;
    margin-top: 5px;
    font-size: 36px;
    font-weight: 400;
}

.art>h4 {
    color: #555;
    font-size: 23px;
    font-weight: 400;
}

.category {
    display: inline-block;
    color: #555;
    font-size: 32px;
    padding: 2px;
    border-radius: 5px;
    border: 2px solid #439af686;

}

.year {
    color: #959595;
    float: right;
    font-size: 32px;
    margin: 0;
}

.art-img img {
    position: relative;
    float: left;
    margin: 24px;
    height: auto;
    max-width: 600px;
    border-radius: 12px;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.5);
}

.info-section>.text {
    height: 50%;
    float: right;

}

.art-description {
    margin-top: 15px;
    padding: 60px;
    height: 50%;
}

.text {
    margin: 0;
    font-size: 25px;
    color: #545454;
}

.buttons {
    height: 10%;
    text-align: right;
    padding-right: 15px;
    padding-bottom: 40px;
}

.button-details {
    height: 15%;
    padding: 14px;
    margin-top: auto;
    font-size: 21px;
    color: #4399f6;
    border: 2px solid  #4399f6;
    border-radius: 12px;
    transition: 0.5s;
}

.button-details:hover {
    background-color: #4399f6;
    color: white;
}

.delete{
    border: 2px solid  #f70d0d;
    color: #f70d0d;
    background-color: #439af600;
}

.delete:hover {
    background-color: #f70d0d;
    color: white;
}
